@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{
font-family: 'Raleway', sans-serif;
}
.Justaheading{
font-size:75px;
color:#00AEFF;
}
h1{
font-style:oblique;
font-size:50px;
}
.hobbies{
font-size: 35px;
color:#2AFF00
}
.Songs{
font-size:30px;
color:#FF0000  
}
.navbar{
  overflow:hidden;
  background-color:#5100FF;
}

.navbar a{
  float: left;
  display: block;
  color: #FFFFFF;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
.navbar a:hover{
  background-color: #90F9B9
  color:#000000;
}
.navbar a.active{
  background-color: #FFFFFF;
  color:#000000;
}
